<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="fileInfo"  xsi:type="File" concurrentWrites="true" KeepFileOpen ="False" fileName="${basedir}/logs/Information.txt" layout="${date}|${level}|${message}" />
    <target name="fileError"  xsi:type="File" concurrentWrites="true" KeepFileOpen ="False" fileName="${basedir}/logs/Error.txt" layout="${date}|${level}|${message}" />
    <target name="fileDebug"  xsi:type="File" concurrentWrites="true" KeepFileOpen ="False" fileName="${basedir}/logs/Debug.txt" layout="${date}|${level}|${message}" />
  </targets>
  <rules>
    <logger name="*" level="Info" writeTo="fileInfo" />
    <logger name="*" level="Error" writeTo="fileError" />
    <logger name="*" level="Debug" writeTo="fileDebug" />
  </rules>
</nlog>